.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 32px;
    width: 140px;
    margin: 0 auto;
    color: #000;
    background-color: #94f17a;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    /*font-weight: bold;*/
    font-size: 0.9rem;
}

.my-button:hover {
    /*transform: scale(0.9);*/
    background-color: #7bcd64;
}

.my-button:active {
    /*transform: scale(0.8);*/
    background-color: #6cb158;
}

.col-content {
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: #323232;
}

.col-content p {
    margin-top: 30px;
    color: #ddd;
    font-size: 1.5rem;
}